.container {
    position: relative;
    max-width: 1430px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

#content-page p {
    font-size: 15px;
}


#content-page {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 450px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.only-mobile-for-body {
    .column {
        width: 100%;

    }
}

#content-page h1 {
    font-weight: bold;
    line-height: 1.6;
    color: red;
    text-align: center;
    font-size: 55px;
    margin: auto;
    padding: 10px;

}

.ml-100px h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    color: red;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.ml-200px h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.ml-200px {
    background: red;
    color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}


#content-page h3 {
    text-align: center;
}

.ml-200px h3 {
    text-align: left;
}

.column h1{
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: -10px;
    color: #e11414;
}

.column p{
    font-weight: 700;
}

.column h5{
    font-size: 15px;
    color: red;
}

.policy-step {
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
    background: #e2e2e2;

}

.policy-title {
    margin: 10px;
}

.flex-column h1 {
    color: #e11414;
}

#condition{
    width: 45%;
    padding: 10px;
    height: 400px;
    border:1px solid;
    border-radius: 10px;
    background: #e2e2e2;
}

#condition2 {
    float: right;
    width: 45%;
    padding: 10px;
    height: 400px;
    border:1px solid;
    border-radius: 10px;
    background: #e2e2e2;
}

.top {
    margin-top: 50px;
}

.top1 {
    margin-top: 100px;
}

.promotion {
    margin-bottom: 30px;
}

#content-page h2 {
    color: red;
}

.rule7 {

    margin-bottom: 30px;
}

#bill h2 {
    color: black;
}

#content-page span {
    font-size: 20px;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.take-care {
    margin-bottom: 50px;
    margin-top: 50px;
}

.take-care h2 {
    color: #e2e2e2 !important;
}
