.build-pc-area {
    width: 1430px;
    max-width: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.list-btn-action {
    display: flex;
    list-style: none;
    padding: 0;
}

.list-btn-action li {
    margin-right: 10px;
}

.list-btn-action .active span {
    background-color: rgb(101 106 27);
}

.build-pc .build-pc_content .list-drive .item-drive .drive-checked .contain-item-drive .d-img img {
    max-width: 100%;
    max-height: 90px;
}

.build-pc .build-pc_content .list-drive .item-drive:nth-of-type(odd) .drive-checked .contain-item-drive {
    background-color: #f9f9f9;
}

.build-pc .build-pc_content .list-drive .item-drive .drive-checked .contain-item-drive {
    margin-top: -50px;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.d-name {
    font-size: 15px;
    color: #000000;
}

span.d-name {
    float: left;
    margin-bottom: 8px;
    margin-top: 20px;
    width: 500px;
    padding-left: 20px;
}

span .p-name{
    font-weight: 700;
}

.d-price {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

.item-drive .drive-checked .contain-item-drive i {
    font-style: normal;
    margin-top: 11px;
}

.item-drive .drive-checked .contain-item-drive input {
    margin-top: 4px;
    height: 30px;
    outline: none;
    padding: 0 5px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

 .sum_price {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #e51d24;
    margin-right: 15px;
    width: 120px;
    margin-left: 10px;
}

 .show-popup_select {
    font-size: 20px;
    width: 30px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    color: #0f5b99;
}

.delete_select {
    color: #e51d24;
    font-size: 20px;
    width: 30px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.total-price {
    font-size: 18px;
    color: #d00;
    margin-top: 10px;
}

.build-pc_content {
    background: #fff;
    padding: 20px;
    margin-top: 0px;
}

.list-btn-action {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #959595;
    margin-top: 0;
    border: none;
    width: 100%;
    list-style: none;
}

.list-btn-action li {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    width: 200px;
    float: left;
    text-align: center;
    padding: 0 2px;
}

.list-btn-action li span,
.list-btn-action li a {
    display: block;
    border-radius: 3px;
    background-color: var(--color-primary);
    text-transform: uppercase;
    line-height: 40px;
    cursor: pointer;
    opacity: 1;
    font-size: 14px;
    color: #fff;
    padding: 6px;
}

.list-drive {
    list-style-type: none;
}

.list-drive .item-drive {
    padding: 0px;
    border-bottom: 1px solid #e1e1e1;
}

.name-item-drive {
    width: 240px;
    padding: 0 8px !important;
    margin: 14px 0 !important;
}

.build-pc_content h3 {
    font-size: 21px;
    text-transform: uppercase;
    user-select: none;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
}

.span-last {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 14px;
    color: #ffffff;
    background-color: #e51d24;
    border-radius: 3px;
    line-height: 34px;
    display: inline-block;
    padding: 0 8px;
    margin-left: 10px;
    cursor: pointer;
    opacity: 1;
}

.drive-checked {
    display: flex;
    align-items: center;
}

.js-item-row {
    margin-left: 40px;
}

.list-drive .item-drive span.span-last i {
    margin-right: 3px;
}

#js-modal-popup {
    display: none;
}

#js-buildpc-action i {
    margin-left: 10px;
}


.check-build {
    width: 417px;
    margin-top: 30px;
    margin-right: 23px;
    text-align: center;
    vertical-align: middle;
}
