@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

body {
    background-color: #fff;
    color: #121212;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
}

#content-page main a {
    border: 0 none;
    outline: 0;
    text-decoration: none;
    background-color: #4267b2;
    color: white;
}
#content-page a :hover {
    color: white;
}

#content-page strong {
    font-weight: bold;
}

#content-page h1 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 25px;
}

#content-page input,
button {
    border: 0 none;
    outline: 0 none;
}

#content-page button {
    background-color: #4267b2;
    color: #fff;
    border-radius: 5px;
}

#content-page button:hover,
button:focus {
    background-color: #555;
}

#content-page img,
.basket-module,
.basket-labels,
.basket-product {
    width: 100%;
}

.basket-product .item {
    display: flex;
}

.hide {
    display: none;
}

#content-page main {
    clear: both;
    font-size: 15px;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    max-width: 796px;
    padding: 15px;
}

.basket,
aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket {
    padding-top: 10px;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.basket-module {
    color: #111;
    margin-bottom: 30px;
    margin-top: 30px;
}

#content-page label {
    display: block;
    margin-bottom: 0.3125rem;
}

.promo-code-field {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: all 0.2s linear;
    width: 48%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.promo-code-field:hover,
.promo-code-field:focus {
    border: 1px solid #999;
}

.promo-code-cta {
    border-radius: 4px;
    padding: 0.6875rem 1.25rem 0.625rem;
    cursor: pointer;
    border: 0 none;
    outline: 0;
    text-decoration: none;
    background-color: #4267b2;
    color: white;
}

.input-with-validator {
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.14) !important;
    border-radius: 5px !important;
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    color: #222;
    display: flex;
    height: 40px;
    padding: 10px;
    position: relative;
    transition: border-color 0.1s ease;
}

.modal-choose-coupon {
    align-items: center;
    border: var(--vc-radio-button-border, 1px solid rgba(0, 0, 0, 0.14));
    border-radius: 50%;
    box-shadow: var(
        --vc-radio-button-box-shadow,
        rgba(0, 0, 0, 0.02) 0 2px 0 0
    );
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 1.125rem;
    justify-content: center;
    width: 1.125rem;
    fill: currentColor;
    stroke: currentColor;
}

.modal-choose-coupon.disable {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

.modal-choose-coupon.checked {
    background: var(--color-primary);
    padding: 5px;
}

.modal-coupon-area {
    display: flex;
    flex-direction: column;
}

.error_msg_modal {
    text-align: center;
    color: #f3070f !important;
}

.error_msg {
    font-weight: bold;
}

.delete-coupon {
    margin-left: 15px;
    background-color: inherit !important;
    color: #f3070f !important;
    cursor: pointer;
}

.modal-button-coupon-area {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.modal-button-coupon-area .btn-close {
    border-radius: 4px;
    padding: 0.6875rem 1.25rem 0.625rem;
    cursor: pointer;
    border: 0 none;
    outline: 0;
    text-decoration: none;
    background-color: #c0c2c6;
    color: white;
}

.discount_total {
    font-style: italic;
    color: green;
}

.item-coupon-in-list {
    border: 0.0625rem solid transparent;
    border-left: none;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    transition: background 1s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-disable {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.item-coupon-in-list.disable {
    opacity: 0.5;
}

.image-item-coupon-in-list {
    width: 7.375rem;
}

.image-item-coupon-in-list img {
    width: 100px !important;
}

.information-item-coupon-in-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    width: 32rem;
    line-height: 20px;
}

#promo-code {
    margin-bottom: 15px;
}

.basket-labels {
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;
}

#content-page ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content-page li {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
}

.price,
.subtotal {
    text-align: right;
}

.remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    width: 45%;
}

.remove button {
    background-color: transparent;
    color: #777;
    float: none;
    text-decoration: underline;
    text-transform: uppercase;
}

.item-heading {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 700;
}

.basket-product {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
}

.product-image {
    width: 35%;
}

.product-details {
    width: 65%;
}

.product-frame {
    border: 1px solid #aaa;
}

.product-details {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.quantity-field {
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 1rem;
    padding: 5px;
    width: 3.75rem;
    height: 20px;
    text-align: center;
    padding-left: 20px;
}

#content-page aside {
    float: right;
    position: relative;
    width: 30%;
}

.summary {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.summary1 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.summary-subtotal,
.summary-total {
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
}

.summary-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
    color: #111;
}

.summary-promo {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.promo-title {
    float: left;
    width: 70%;
}

.promo-value {
    color: #8b0000;
    float: left;
    text-align: right;
    width: 30%;
}

.summary-delivery {
    padding-bottom: 3rem;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
}

.summary-checkout {
    display: block;
}

.checkout-cta {
    width: 100%;
    background: #e31223;
    border: none;
    outline: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0;
    border-radius: 5px;
    margin-bottom: 12px;
    display: block;
    text-align: center;
    cursor: pointer;
}

.checkout-cta:hover {
    background-color: #e31223 !important;
    color: #fff !important;
}

.total-discount {
    color: yellowgreen;
    font-size: 16px;
    font-style: italic;
}

.summary-delivery-selection {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
}

.only-mobile-for-body {
    aside,
    .basket,
    .summary,
    .item,
    .remove {
        width: 100%;
    }

    .basket-labels {
        display: none;
    }

    .basket-module {
        margin-bottom: 1rem;
    }

    .item {
        margin-bottom: 1rem;
    }

    .product-image {
        width: 100%;
    }

    .product-details {
        width: 60%;
    }
}

.button-cart {
    display: block;
    float: none;
    text-transform: uppercase;
    padding: 0.625rem 0;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    cursor: pointer;
}

.sep-item-link {
    cursor: pointer !important;
}

.text-center {
    text-align: center;
}

.button-css-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25% !important;
}

.col-25 {
    float: left;
    width: 25%;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-top: 20px;
}

#fname {
    width: 94%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 700;
}

#submit {
    background-color: #4267b2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.title-c-ct {
    margin-top: 20px;
}

#content-page input {
    border-radius: 5px;
}

.input-address {
    color: #4281f8;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-weight: 600;
}

.accept-coupon {
    background-color: #fff !important;
    color: #111 !important;
    cursor: pointer;
}

.get-total {
    color: #e31223;
    font-weight: 700;
    font-family: 'SF Pro Display', sans-serif;
}

.delete {
    float: right;
    margin-left: 10px;
}

.text-danger {
    color: red;
}

.thank {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: #eee;
}

.button-tks {
    display: block;
    float: none;
    text-transform: uppercase;
    padding: 0.625rem 0;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: red;
    height: 50px;
}

.order-success {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.tks {
    text-align: center;
}

.set-text {
    text-align: center;
    margin-top: 30px;
    padding: 35px;
}

.newsletter-form input {
    margin-top: 0.65px;
    padding: 12px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.selected-name {
    width: 74%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

.icon-voucher-line {
    color: #ee4d2d;
    fill: currentColor;
    height: 1.25rem;
    width: 1.3125rem;
}

.item-heading {
    width: 70%;
}

.item-quan {
    width: 10%;
    text-align: center;
    margin-right: 35px;
}

.require-field {
    color: #e31223;
    font-weight: bold;
}

.item-cart .item {
    width: 70%;
}

.information-cart-item {
    display: flex;
}

.product-data input,
select,
textarea {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.delete-cart button {
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 10px;
}

.action-cart a {
    color: #f3070f;
    width: 100%;
    background: #fff;
    outline: 0;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0;
    border-radius: 5px;
    margin-bottom: 12px;
    display: block;
    text-align: center;
    cursor: pointer;
}

#cart-exel  a:hover {
    background-color: #0a76e4 !important;
    color: white  !important;

}

#cart-exel  a {
    background-color: white !important;
    color: #0a76e4 !important;
    border: 1px solid #0a76e4 !important;
    font-weight: 600;
}

.action-cart a:hover {
    background-color: #f3070f !important;
    color: #fff !important;
}

.action-cart a:not(:first-child) {
    margin-left: 15px;
}

.warranty-text {
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    color: red;
}

.only-mobile-for-body {
    .selected-name {
        width: 100%;
    }

    .row label {
        width: 200px;
    }

    #fname {
        width: 125%;
    }

    .col-75 {
        float: inherit;
    }

    .product-details {
        width: 100%;
        padding: 0;
    }

    .item {
        display: block !important;
    }

    .in-mobile {
        display: flex;
        justify-content: space-between;
    }

    .get-total span {
        width: 100%;
    }
}

#css-cart-tks a:hover {
    color: white !important;
}



