.container {
    position: relative;
    max-width: 1430px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

.column {
    width: calc(100% / 4 - 4px);
    margin-top: 10px;
}

.column:first-child   {
    width: calc(99% / 2 - 6px);
    border-radius: 22px;
    background: #0f5b9a;
    padding: 10px 8px 28px;
}

.column:nth-child(2) {
    width: calc(97% / 2 - 6px);
    border-radius: 22px;
    background: #0f5b9a;
    padding: 10px 8px 28px;
}

.product-market-price {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 550;
    color: gray;
    text-decoration: line-through;
}

.product-market-price-non-dat {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 550;
    color: red;
}

.product-percent-price {
    background: #be1f2d;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    margin-left: 10px;
    padding: 2px;
    margin-top: 7px;
}

.product-price-main {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #e30019;
}

.product-martket-main {
    min-height: 67px;
}

.column:first-child .card {
    display: flex;
}

.column:nth-child(2) .card {
    display: flex;
}

.column:first-child .card .product-image-sale{
     width: 50%;
     float: left;
 }

.column:nth-child(2) .card .product-image-sale{
    width: 50%;
    float: left;
}

.column:first-child .card .product-info{
    width: 50%;
    float: right;
}

.column:nth-child(2) .card .product-info{
    width: 50%;
    float: right;
}

.flash-sale-content {
    margin: 0 -5px;
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
}

.flash-sale-content:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 -1px 9px 0 rgba(164, 164, 164, .25);
    min-width: 0;
    padding: 12px 11px;
    background-color: white;
    border-radius: 10px;
}

.image-sale {
    width: 100%;
}

.image-flash-sale {
    width: 1200px;
}

 .buy-now-deal {
    border-radius: 5px;
    background: #cb1c21;
    font-size: 16px;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    padding: 7px 0;
}

.buy-now-deal:hover {
    background: #0f5b9a;
    color: #fff !important;
}

.js-item-deal-time {
    font-size: 13px;
    border-radius: 3px;
    border: .6px dashed #cb1c21;
    color: #cb1c21;
    text-align: center;
    margin-bottom: 8px;
}

.only-mobile-for-body {
    .column {
        width: 100% !important;
        display: block;
        margin-bottom: 20px;
    }

    .product-market-price {
        margin-top: 15px !important;
    }

    .image-flash-sale {
        width: 100%;
    }
}
