.container {
    position: relative;
    max-width: 1430px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

#content-page {
    box-sizing: border-box;
}

#content-page .column {
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.only-mobile-for-body {
    .column {
        width: 100%;
    }
}

.column h1 {
    font-size: 25px;
    margin-bottom: -10px;
    color: #e11414;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    border-radius: 16px 16px 0 0;
    position: relative;
}

.column p {
    font-size: 17px;
}

.column h5 {
    font-size: 15px;
    color: red;
}

.policy-step {
    margin: 60px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.flex-column h1 {
    color: #e11414;
}

#condition {
    width: 45%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

#condition2 {
    float: right;
    width: 45%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.title-top1 {
    text-align: center;
    color: #e11414;
    font-size: 35px;
}

.top {
    margin-top: 100px;
    margin-bottom: 50px;
}

.image {
    width: 700px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.child {
    flex: 1 0 21%;
    margin: 5px;
    height: 100px;
    background-color: grey;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border-radius: 10px;
}

.row {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 16px 70px 16px 16px;
    display: inline-block;
    border-radius: 16px 16px 0 0;
    position: relative;
}

#content-page img {
    display: block;
    max-width: 100%;
    height: auto;
}

.payment {
    display: flex;
}

.flex-column h3 {
    text-align: center;
}

.heading-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.4;
    color: rgb(37, 57, 101);
}

.step-payment {
    margin-left: 100px;
}

.step-payment p {
    font-size: 20px;
}

.text-accept {
    font-weight: bold;
    color: black;
    text-align: justify;
    font-size: 30px;
    line-height: 1.8;
    margin: 0;
}

.text-accept1 {
    color: rgb(61, 61, 61);
    text-align: justify;
    font-size: 16px;
    line-height: 1.8;
}

.title-accept {
    margin-top: 100px;
}

.title-accept1 {
    background: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.unline {
    width: 50%;
    float: left;
}

.text-intro {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
}

.top-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

