.only-mobile-for-body {
    .box-side-left {
        width: 95% !important;
        padding: 0 !important;
    }

    .box-side-right {
        width: 100% !important;
        margin-bottom: 15px;
    }

    #hidden-logo {
        display: none;
    }
    #slide-footer {
        display: none;
    }

    body {
        min-width: 100% !important;
    }

    .slider-banner-main,
    .news-main-under {
        width: inherit !important;
    }

    .header-bottom-container {
        justify-content: center;
        padding: 0;
    }

    .header-top-left {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .list-submenu--desktop {
        display: none;
    }

    #menu-mb {
        display: block;
        padding: 0;
    }

    .action-area {
        display: none !important;
    }

    .search-area {
        display: none;
    }

    .header-top-right {
        display: none !important;
    }

    .newsletter-area,
    .post-data,
    #item-cart {
        flex-direction: column;
    }

    .flash-sale-banner {
        margin-top: 50px;
        width: 100%;
    }

    .top-sale {
        width: 100% !important;
    }

    .category {
        width: 100%;
    }

    .product-slide-main {
        width: 100%;
        padding-left: 0;
    }

    .content-sale {
        width: 100%;
        padding: 5px;
    }

    .content-news {
        width: 100%;
    }

    .review {
        width: 100%;
        padding: 10px 0 !important;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
    }

    .box-article-group {
        margin-bottom: 0;
        padding-left: 0;
    }

    .custom-mobile-promotion {
        display: block !important;
    }

    #page-banner {
        display: none;
    }

    .policy-area {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .icon {
        display: block !important;
        font-size: 35px;
    }

    .build-area {
        display: none;
    }

    .build-area-mobile {
        display: flex !important;
        align-items: center;
        margin-left: 9px;
    }

    .build-area-mobile span {
        color: var(--color-primary);
    }

    .build-area i {
        background: var(--color-primary);
        height: 46px;
        width: 46px;
        line-height: 44px;
        text-align: center;
        font-size: 24px;
        border: 1px solid var(--color-primary);
        border-radius: 30px;
        color: white;
    }

    .sub-header .d-xl-block {
        display: flex;
    }

    .modal-box .modal-dialog {
        width: 95% !important;
    }

    .footer-middle-content {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-bottom-content {
        padding-left: 20px;
        height: 100%;
        margin-bottom: 50px;
    }

    .policy-item {
        margin-top: 15px;
    }

    .footer-middle-item {
        margin-top: 15px;
    }

    #featured-image {
        width: 100%;
    }

    .product-container {
        flex-direction: column;
    }

    .product-related {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    .product-info {
        width: 100%;
    }

    .product-info h5 {
        font-size: 4.1vw !important;
    }

    .product-info .old-price {
        font-size: 15px;
    }

    .small-Card {
        width: 100%;
    }

    .column1,
    .column2 {
        width: 95%;
    }

    .content-news {
        padding: 0;
    }

    .newsletter-area {
        padding: 0;
    }

    .newsletter-title {
        text-align: center;
    }

    .newsletter-form {
        justify-content: center;
        margin-left: 0;
    }

    .review h2.title-box {
        text-align: center;
    }

    .policy-part1,
    #policy-condition,
    #payment,
    #policy-apply {
        flex-direction: column;
    }

    .policy-image1 {
        width: 100%;
        height: auto;
    }

    #poli-step {
        width: 100%;
        padding: 2px;
    }

    #poli-padding {
        padding: 10px;
    }

    #policy-condition {
        gap: 30px;
    }

    #payment-step {
        width: 100%;
        margin: 0;
    }

    #content-page .flex-column {
        padding: 10px;
    }

    .payment {
        gap: 10px;
    }

    #title-mobile {
        font-size: 15px;
        background-color: red;
    }

    #text-title {
        width: 100%;
    }

    #business-title {
        flex: 1 0 35%;
        height: auto;
        line-height: 40px;
    }

    #business-title1 {
        flex: 1 0 50%;
        height: auto;
    }

    #complaint-1 {
        width: 100%;
    }

    #product-poli {
        height: auto;
        line-height: 40px;
        flex: 1 0 32%;
    }

    .images-bill {
        width: 100%;
    }

    #bill-care {
        width: 100%;
        padding: 0;
    }

    .sub-header-mobile {
        display: flex;
        justify-content: center;
        z-index: 10;
    }

    .sub-header {
        display: none;
    }

    #toolbar-menu-mobile {
        display: block;
    }

    .title-category {
        display: none;
    }

    .product-slide {
        margin: 0;
    }

    .flash-sale-title-area {
        margin-left: 10px;
    }

    .category .flex-container {
        flex-wrap: wrap;
    }

    .product-slide .justify-content-between {
        margin-left: 15px;
        margin-right: 15px;
    }

    .title-all-category {
        margin-left: 20px;
    }

    #content-page .item {
        width: 100%;
    }

    #total_cart {
        width: 100%;
    }

    .delete-cart {
        float: none;
        width: 100%;
        margin-left: 0;
    }

    .get-total {
        width: 100% !important;
        text-align: end;
    }

    .summary-subtotal,
    .summary-total {
        width: 100%;
    }

    .summary-area {
        margin-top: 15px;
    }

    .total-title {
        width: 100%;
    }

    #cart-basket {
        display: none;
    }

    .item-product-in-cart {
        flex-direction: column;
    }

    #rating-content {
        width: 85%;
    }

    #cart-text {
        font-size: 13px;
    }

    #rating-review {
        width: 70%;
    }

    .hide-mobile {
        display: none;
    }

    .flash-sale-title-area,
    #list-post-home {
        flex-direction: column;
    }

    #post-column2 {
        width: 98% !important;
    }

    #condition2 {
        width: 100% !important;
    }

    #condition-contact-bussiness {
        width: 100% !important;
    }

    .show-search .search-mobile {
        display: block;
    }

    #rep-comment {
        width: 50% !important;
        display: flex;
    }

    .main-menu-category hr {
        border: 1px solid #f3070f;
        width: 90%;
    }

    .main-menu-category .list-items i {
        margin-right: 10px;
    }

    .main-menu-category .list-items {
        display: block;
        list-style: none;
        background: white;
        position: relative;
    }

    .main-menu-category.show {
        transform: translateX(0);
        transition: 0.5s all ease;
        display: block;
    }

    .main-menu-category.hide {
        transform: translateX(-400px);
        transition: 0.5s all ease;
        display: none;
    }

    .main-menu-category li a {
        margin-bottom: 10px;
        display: block;
        color: grey;
        font-size: 15px;
        font-weight: 600;
    }

    .main-menu-category .list-items img {
        margin-right: 10px;
    }

    .main-menu-category li a {
        margin-bottom: 10px;
        display: block;
        color: grey;
        font-size: 22px;
        font-weight: 600;
        border: 1px solid #e1e1e1;
    }

    .main-menu-category {
        position: fixed;
        top: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: white;
        transition: 0.5s all ease;
        display: none;
        transform: translateX(-800px);
        overflow: scroll;
        z-index: 99999999999999999999999;
        max-width: 650px;
    }

    .sub-menu-lv3 {
        list-style: circle;
        padding: 0;
        display: none;
    }

    .menu-btn {
        display: block;
        position: absolute;
        color: black;
        top: 40px;
        right: 30px;
        font-size: 2rem;
        margin-left: 23px;
        left: 0;
        margin-top: 15px;
    }

    .lock-scroll {
        overflow: hidden;
    }

    .global-fixed-right .zalo {
        display: none !important;
    }

    .global-fixed-right .messenger {
        display: none !important;
    }

    .slider-banner {
        display: none !important;
    }

    .container-hamburger {
        display: block;
        height: 50px;
        max-width: 650px;
        margin: auto;
    }

    .global-fixed-left {
        display: none;
    }

    .row-hamburger .search-mobile {
        margin-left: 15px;
    }

    .swiper-top-sale {
        left: 0;
    }

    .swiper-top-sale .swiper-slide1 {
        width: 100%;
    }

    .swiper-slide {
        width: 100%;
    }

    .swiper-flash-sale .swiper-slide {
        width: 100%;
    }

    .swiper-flash-sale {
        margin-left: 0 !important;
    }

    .product-item .product-image {
        display: flex;
        justify-content: center;
        height: auto;
    }

    .box-banner-collection {
        display: none;
    }

    .swiper-review-customer .swiper-wrapper .swiper-slide {
        width: 100% !important;
    }

    .header-map-marker {
        display: none;
    }

    #marquee-header {
        display: none;
    }

    .product-martket-main {
        margin-top: 35px;
    }

    #content-page {
        margin-top: 50px !important;
    }

    .global-breadcrumb ol {
        padding: 0;
        justify-content: center;
        line-height: 30px;
    }

    .box-breadcrumb-global .box-breadcrumb {
        justify-content: center !important;
    }

    .swiper-slide-image {
        width: 157px;
        display: flex;
        justify-content: center;
        margin-right: 0;
    }

    .custom-mobile-flash-sale {
        flex-direction: column;
        margin-bottom: 20px;
    }

    #scroll-logo {
        display: flex;
        justify-content: center;
        margin-top: -15px;
    }

    .hot-sale-mobile {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .swiper-button-prev-top-sale {
        left: 0;
    }

    .global-fixed-right .scroll-top-btn {
        bottom: calc(50% - 290px);
    }

    .global-fixed-right .fix-youtube {
        bottom: calc(50% - 355px);
    }

    .global-fixed-right .fix-face {
        bottom: calc(50% - 300px);
    }

    .list-items-sub {
        list-style: none;
        padding: 0;
        display: none;
        position: relative;
    }

    .swiper-slide-review {
        width: calc(100% - 10px);
        margin-right: 0;
    }

    #list-post-home .item-article {
        margin-top: 10px;
        margin-left: 6px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 10px;
        border-radius: 10px;
    }

    .yt_player_iframe {
        width: 100%;
        height: auto;
    }

    .step-payment {
        margin-left: 0;
    }

    .footer-middle-item {
        margin-left: 10px;
    }

    #custom_search {
        width: 40px;
        height: 38px !important;
        border: 1px solid red !important;
        background: var(--color-primary);
        text-align: center;
        color: #fff;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        font-size: 20px;
    }

    .global-fixed-right .fix-face {
        bottom: calc(50% - 570px);
    }

    .global-fixed-right .fix-youtube {
        bottom: calc(50% - 625px);
    }

    #toolbar-menu-mobile .item {
        margin-bottom: 0;
    }

    .top-sale {
        margin-top: 20px;
    }

    .slider-banner-mobile {
        display: flex;
        flex-direction: column;
    }

    .swiper-wrapper {
        margin-left: 0;
    }
}
