.content-page {
    box-sizing: border-box;
}

#content-post {
    position: relative;
    max-width: 1140px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    margin-bottom: 30px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.card {
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }

    img, iframe {
        max-width: 100%;
        height: auto !important;
        }
}

.image-post
{
    width: 100%;
    height: auto;
}

#content-post p {
    font-size: 16px;
    line-height: 22px;
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333e48;
    -webkit-line-clamp: 10;
}

#content-post img {
    border-radius: 5px;
}

#content-post h1 {
    margin: 0 0 16px;
    font-weight: 600;
    font-size: 28px;
}

.article-info-more {
    margin-bottom: 16px;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.article-info-more li time {
    display: inline-flex;
    align-items: center;
    color: #535353;
    font-size: 15px;
}

.article-info-more li a {
    position: relative;
    padding-left: 20px;
    color: #005EC9;
    font-size: 15px;
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    padding: 20px 0;
    font-size: 30px;
}

.grid-container .item {
    flex-direction: column;
}

.post-related {
    margin-top: 30px;
}

.post-related .post-detail{
    color: #333333;
    font-weight: 600;
    font-size: 24px;
}

