.content-page {
    box-sizing: border-box;
}

.row {
    position: relative;
    max-width: 1430px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}


@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.image-post
{
    width: 200px;
}

#content-post p {
    font-weight: 600;
    font-size: 15px;
    color: black;
    -webkit-line-clamp: 10;
}

#content-post img {
    border-radius: 5px;
}

#content-post h1 {
    font-size: 30px;
    font-weight: bold;
}
