#content-page {
    max-width: 1430px;
    margin: 0 auto;
}

.product-container {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
    margin-top: 50px;

}
.set-background {
    border-radius: 5px;
}

.img-card {
    float: left;
}

.img-card img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 4px;
    height: 520px;
    object-fit: cover;
}

.small-Card {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    gap: 12px;
}

.small-Card img {
    width: 104px;
    height: 104px;
    border-radius: 4px;
    cursor: pointer;
}

.small-Card img:active {
    border: 1px solid #17696a;
}

.sm-card {
    border: 2px solid darkred;
}

.product-info{
    padding: 15px;
    width: 60%;
    float: right;
    border-radius: 10px;
    padding: 15px;
}

#product-info {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productRelated {
    font-size: 24px;
}

.product-info h3 {
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 12px;
    margin: 0;
}

.product-related{
    padding: 15px;
    flex-wrap: wrap;
    width: 50%;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.old-price {
    font-size: 20px;
    font-weight: 500;
}

.product-detail {
    margin-top: 20px;
    font-size: 18px;
}

.product-related h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    line-height: 130%;
}

.product-info h5 {
    font-size: 32px;
    line-height: 10px;
    font-weight: 600;
    color: #E30019;
}

.product-info del {
    color: #a9a9a9;
}

.product-info p {
    color: #424551;
    margin: 15px 0;
    width: 100%;
    font-size: 18px;
}

.sizes p {
    font-size: 22px;
    color: black;
}

.size-option {
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    padding: 5px;
}

.quantity input {
    width: 51px;
    height: 33px;
    margin-bottom: 15px;
    padding: 6px;
}

.btn-buy-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-wrap: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
}

.btn-1 {
    width: 100% !important;
}

.btn-2 {
    width: calc(50% - 6px);
}
.btn-3 {
    width: calc(50% - 6px);
}

.btn-buy {
    background: #e31223;
    border-radius: 10px;
    padding: 10px 37px;
    border: none;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 15px;
    cursor: pointer;
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
}

.btn-add-to-cart {
    background: #0a76e4;
    border-radius: 10px;
    padding: 10px 37px;
    border: none;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 15px;
    cursor: pointer;
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    margin-top: 10px;


}

.delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #787a80;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 1px;
}

hr {
    color: #787a80;
    width: 58%;
    opacity: 0.67;
}

.pagination {
    color: #787a80;
    margin: 15px 0;
    cursor: pointer;
}

.gift-product {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 30px;
}

.gift-product1 {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 100px;
}

.gift h2 {
    background: #ddd;
    height: 50px;
    line-height: 50px;
    text-align: left;
}

.gift-promotion {
    padding: 10px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.parent1 {
    display: flex;
    flex-wrap: wrap;
    background: #FFEDED;
    border-radius: 10px;
}

.child1 {
    flex: 1 0 30%; /* explanation below */
    margin: 5px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    justify-content: center;
}


#right {
    width: 80%;
    padding: 0.5rem;
    flex-grow: 1;
}

.img-fluid {
    width: 100%;
    flex-shrink: 0;
    border-radius: 4px;
    object-fit: cover;
}

#comment {
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 100px !important;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0 4px 4px 0;
    font-size: 14px;
    color: #333e48;
    outline: 0;
    background: 0 0;


}

.comment {
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rep-comment {
    margin-bottom: 50px;
}

.btn-comment {
    float: right;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    background: #3b6ed4;
    color: white;
    border: 0;
    border-radius: 4px;
}

.btn-reply {
    float: right;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    background: #ff4242;
    color: white;
    border: 0;
    border-radius: 4px;
}


#related-price {
    font-size: 18px;
    color: #ff4242;
    font-weight: bold;
    margin-top: 10px;
}

#related-name {
    font-size: 18px;
    font-weight: bold;
}

#content {
    padding: 15px;
    display: flex;
}


#content-right {
    margin-top: 0;
    margin-left: 20px;
}

#content-right h4 {
    margin: 0;
    line-height: 20px;
    font-size: 18px;
}

@media screen and (max-width: 576px) {
    .product-container{
        flex-direction: column;
    }
    .small-Card img{
        width: 80px;
    }
    .product-info{
        width: 100%;
    }


    .delivery{
        width: 100%;
    }

    hr{
        width: 100%;
    }
}

#left {
    width: 30%;
    float: left;
}

@media screen and (max-width: 800px) {
    .product-related, .product-info {
        width: 100%;
        padding: 0;
    }
}


.alert-info  {
    color: red;
    font-size: 15px;
}

.content-comment {
    background: #e5e5e3;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.text-right {
    text-align: right;
    font-weight: 600;
    color: #3b6ed4;
    font-size: 20px;
}

.hr-row {
    width: 100%;
}

.product-market-price{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 550;
    color: gray;
}


.product-percent-price {
    background: #be1f2d;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    margin-left: 10px;
    padding: 2px;
    margin-top: 7px;
}

.product-price-main  {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #E30019;
}


.alert-add {
    background: #c9e4c9;
    color: green;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
}

.comment-content {
    color: black;
    font-size: 15px;
}

.price-product {
    border: 1px solid #b8b8b8;
    color: #e31223;
    background: #f7f9fb;
    gap: 13px;
    margin-bottom: 16px;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
}


.product-buy-quantity {
    margin: 18px 0;
    font-size: 13px;
}

.cart-quantity-select {
    margin: 0 12px 0 32px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    height: 50px;
}

.js-quantity-change {
    padding:  12px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

 .cart-quantity-select input {
    border: none;
    width: 66px;
    /* outline: 0; */
    text-align: center;
    color: #000;
    border-right: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
}

.addCart {
    border-radius: 5px;
    border: 1px solid #0a76e4;
    padding:7px;
    color: #0a76e4;
    height: 35px;
}

.title-quantity {
    font-size: 15px;
}

.mt-12 {
    margin-top: 12px;
}

.font-weight-600 {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-wrap: row;
    flex-wrap: wrap;
    display: flex;
}

.gap-6 {
    width: 50%;
    font-size: 13px;
    margin-bottom: 14px;
}

.gap-6-item {
    font-size: 15px!important;
    color: black !important;
    margin: 0 !important;
}

.fas {
    font-size: 20px;
    margin-right: 10px;
}

.btn-article-col {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #007aff;
    border-radius: 8px;
    margin-top: 14px;
    padding: 10px 0;
    cursor: pointer;
    color: #007aff;
}

.quantity-field {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 1rem;
    padding: 2px;
    width: 4.75rem;
    height: 43px;
}

.p-info1 img {
    max-width: 842px !important;
}

.js-quantity-change {
    cursor: pointer;
}

.box-offer-detail {
    background: url(https://nguyencongpc.vn/static/assets/nguyencong_2023/images/background_offer_detail.png) no-repeat;
    background-size: 100% 100%;
    min-height: 200px;
    padding: 4px;
    margin-bottom: 16px;
}

#product-gift {
    margin-left: 8px;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
}

.list-info-offter {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 12px 6px;
    min-height: 158px;
    font-size: 13px;
    line-height: 24px;
}

.item-offer {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #464646;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000000; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#product-info img {
    max-width: 750px !important;
}
