.container {
    max-width: 1430px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color:red;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
    background-color:red;
}
.product-item {
    padding: 12px 28px;
    position: relative;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 0 -1px 9px 0 rgba(164, 164, 164, .25);
    box-shadow: 0 -1px 9px 0 rgba(164, 164, 164, .25);
    min-width: 0;
    min-height: 402.406px;
}

.row {
    background: #f8f8f8;
    margin-top: 30px;
    border-radius: 10px;
}
.row1 {
    background: #f8f8f8;
    margin-top: 3px;
    border-radius: 10px;
}

.row2  {
    background: #f8f8f8;
    margin-top: 30px;
    border-radius: 10px;
}

.select button {
    height: 40px;
    width: auto;
    font-weight: 500;
    background: white;
    border: 1px solid;
    border-radius: 5px;
}

.section button {
    height: 40px;
    width: auto;
    font-weight: 550;
    background: #eee;
    border: 1px solid;
    border-radius: 5px;
}


.flex {
    display: flex;
}

.flex > div {
    margin: 5px;
    padding: 5px;
}

button {
    height: 40px;
    width: auto;
    font-weight: 550;
}

select {
    height: 40px;
    background: #eee;
    border-radius: 5px;
    font-weight: 550;
}

.flex {
    padding: 10px;
}

h2 {
    margin-top: 22px;
    width: 200px;
}

.sale-body {
    margin-top: 30px;
    padding: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 35px;
    line-height: 32px;
    margin-bottom: 12px;
    text-align: center;
    color: red;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.flash-sale-title-area {
    width: 100%;
}

.flash-sale-title {
    font-size: 35px;
    line-height: 32px;
    margin-bottom: 12px;
    text-align: center;
    color: white;
}

.top-sale {
    width: var(--flex-width);
    background: linear-gradient(180deg, #f33b53 0%, #4a5052 100%);
    border-radius: 10px;
}

.center {
    text-align: center;
    margin-top:40px;
    margin-bottom: 40px;
}

.pagination {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


@media screen and (max-width: 600px) {
    .column{
        width: 100%;
    }
}

.swiper-slide1 {
    width: 270px;
    margin-right: 12px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}


ul pagination {
    display: flex;
    list-style: none;
}

.page-item {
    list-style: none;
}

.pagination > li > a,
.pagination > li > span {
    color: black; // use your own color here
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #4267b2;
    border-color: #4267b2;
    color: white;
}
