.page-product-detail .box-content-product-detail .box-left,
.page-product-detail .box-content-product-detail .box-right {
    width: calc(100% / 2 - 6px);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.page-product-detail .box-content-product-detail .box-left,
.page-product-detail .box-content-product-detail .box-right {
    width: calc(100% / 2 - 6px);
}

.page-product-detail .box-content-product-detail .box-right .product-name {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.line-clamp-3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.page-product-detail .box-content-product-detail .box-right .list-basic-product-info {
    margin-bottom: 10px;
}

.page-product-detail .box-content-product-detail .box-price-detail {
    padding: 16px;
    border: 1px solid #b8b8b8;
    color: #e31223;
    background: #f7f9fb;
    gap: 13px;
    margin-bottom: 16px;
}

.page-product-detail .box-content-product-detail .detail-buy a {
    width: calc(50% - 6px);
    padding: 8px 12px;
    text-align: center;
    background: #0a76e4;
    border-radius: 10px;
    color: #fff;
    font-size: 13px;
}

.page-product-detail .box-content-product-detail .detail-buy a:first-child {
    background: #e31223;
}

.page-product-detail .box-content-product-detail .detail-buy a span {
    width: 100%;
    float: left;
    font-weight: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.page-product-detail .box-read-product-detail .box-left {
    width: 66.5%;
}

.page-product-detail .box-read-product-detail .box-right {
    width: 33.5%;
}

.product-detail .box-read-product-detail .box-review {
    background: #fff;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.25);
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.25);
    border-radius: 12px;
    padding: 18px 13px 23px;
    margin-bottom: 12px;
    color: #000;
}
