.content-promotion {
    position: relative;
    max-width: 1430px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
}

.leftColumn {
    width: 70%;
    float: left;
}

.rightColumn {
    width: 30%;
    float: right;
}

.image-post {
    width: 100%;
    height: auto;
}

#title-post {
    font-size: 20px;
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    background: #243a76;
}

.new-relate {
    margin-top: 20px;
}

.sapo-promotion {
    margin-top: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    border-radius: 15px;
}

.content-inside-promotion {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    border-radius: 15px;
}

.only-mobile-for-body {
    .content-promotion {
        flex-direction: column;
    }

    .rightColumn {
        width: 100%;
    }

    .leftColumn {
        width: 100%;
    }

    img {
        width: 100%;
    }
}
