.container {
    position: relative;
    max-width: 1430px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 15px;
}


* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 450px;/* Should be removed. Only for demonstration */

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;

    }
}

h1 {
    font-family: VVRNIEFbJvbGQudHRm;
    font-weight: bold;
    line-height: 1.6;
    color: red;
    text-align: center;
    font-size: 55px;
    margin: auto;
    padding: 10px;

}

.column h1{
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: -10px;
    color: #e11414;
}

.column p{
    font-weight: 700;
}

.column h5{
    font-size: 15px;
    color: red;
}

.policy-step {
    width: 100%;
    margin-top: 30px;
    height: 250px;
   border-radius: 5px;
    background: #e2e2e2;

}

.policy-title {
    margin: 10px;
}

.flex-column h1 {
    color: #e11414;
}

#condition{
    width: 45%;
    padding: 10px;
    height: 400px;
    border:1px solid;
    border-radius: 10px;
    background: #e2e2e2;
}

#condition2 {
    float: right;
    width: 45%;
    padding: 10px;
    height: 400px;
    border:1px solid;
    border-radius: 10px;
    background: #e2e2e2;
}

.text {
    text-align: center;
    color: #e11414;
}

.top {
    margin-top: 100px;
}

.top1 {
    margin-top: 100px;
}

.image {
    width: 700px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.child {
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    height: 100px;
    background-color: grey;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border-radius: 10px;
}

h2 {
    color: red;
}

.rule7 {
    margin-bottom: 30px;
}









