.container {
    position: relative;
    max-width: 1430px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

#content-page p {
    font-size: 17px;
}


#content-page * {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 450px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.only-mobile-for-body {
    .column {
        width: 100%;

    }
}

#content-page h1 {
    font-weight: bold;
    line-height: 1.6;
    color: red;
    text-align: center;
    font-size: 55px;
    margin: auto;
    padding: 10px;

}

.ml-100px h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    color: red;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}


.policy-step {
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;

}


.top {
    margin-top: 50px;
}


#content-page h2 {
    color: red;
}


#bill span {
    font-size: 20px;
    font-weight: 600;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.take-care {
    margin-bottom: 50px;
    margin-top: 50px;
}
