:root {
    --primary-color: #3b82f6;
}

.group.active {
    border-bottom: 0.5px solid var(--primary-color);
}

.group.active a {
    color: var(--primary-color);
}

.item-product-flash-sale {
    display: flex;
}

#area-product-flash-sale {
    margin-top: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.title-flash-sale {
    display: flex;
}

.title-flash-sale span {
    width: 178px;
    text-align: center;
}

.title-flash-sale span:not(:first-child) {
    margin-left: 10px;
}

.item-product-hot-sale {
    display: flex;
}

#area-product-hot-sale {
    margin-top: 20px;
}

.btn-x {
    color: red;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}

.show-avatar {
    width: 150px;
}

.text-base {
    font-weight: bold;
    font-size: 18px;
}

.upload-many-image {
    display: flex;
    flex-direction: column;
}

#slideInput {
    margin-top: 20px;
}

.imgPreview {
    display: flex;
}

.imgPreview img {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.btn-delete-layout {
    margin-left: 15px;
    border: 1px solid red;
    padding: 0 10px;
    border-radius: 10px;
    color: red;
}

.area-action-layout {
    display: flex;
    margin-top: 10px;
}
