.show-avatar {
    height: 50%;
    width: 50%;
    object-fit: contain
}

.text-danger {
    color: red;
}

.item-detail {
    display: flex;
}

#area-detail {
    margin-top: 20px;
}

.ck-editor__editable_inline {
    min-height: 300px;
}
#cke_editor1 {
    top: 0px !important;
}
