.show-avatar {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.text-danger {
    color: red;
}

.item-detail {
    display: flex;
}

#area-detail {
    margin-top: 20px;
}

.btn-x {
    color: red;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}

.ck-editor__editable_inline {
    min-height: 300px;
}

#cke_editor1 {
    top: 0px !important;
}

.imgPreview {
    display: flex;
}

.imgPreview img {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.font-medium {
    margin-top: 30px;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
}

ol.example li.placeholder:before {
    position: absolute;
}

.btn-delete-image {
    color: white;
    background-color: red !important;
    padding: 5px 10px;
    border-radius: 10px;
}

.ck-focused {
    border: none !important;
}
.cke_focus{
    border: none !important;
}
